{% extends 'layout.html' %}

{% block body %}

<div class="jumbotron text-center">
  <p class="lead">
    Use the drop-down menus below to select which data to visualise<br>
    Red circles indicate "Yes", green circles indicate "No"<br>
    The date of each observation can be viewed by hovering the mouse over the relevant circle
  <p>
</div>
<div class="container">
  {% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="">
    <div class="form-inline">
      {{render_field(form.question, class_="form-control")}}
      <input type="submit" class="bt btn-success" value="Show map">
    </div>
    <br>
    <div class="form-inline">
      {{render_field(form.windDir, class_="form-control")}}
      {{render_field(form.windSpeed, class_="form-control")}}
      {{render_field(form.precip, class_="form-control")}}
    </div>
  </form>
</div>
{% if subData.shape[0]==0 %}
  <h2><font color="red">No data for these filters</font></h2>
{% endif %}
<br>
<div id="map"></div>
<br><br>
<script>
  var map;
  function initMap() {
    var myLatLng = new google.maps.LatLng(11.9854,-86.1608);
    map = new google.maps.Map(document.getElementById('map'), {
      center: myLatLng,
      zoom: 10,
      mapTypeId: 'terrain'
    });
    var green='#008000';
    var red='#FF0000';
    {% if subData.shape[0]!=0 %}
    {% for index, row in subData.iterrows(): %}
    var dataCircle = new google.maps.Marker({
        map: map,
        position: {lat:{{row['latitude']}}, lng:{{row['longitude']}}},
        title: 'Date: {{row["date"]}}\n\
Could you smell the vumo?: {{row["smell"]}}\n\
Could you feel the vumo in your throat?: {{row["throat"]}}\n\
Could you feel the vumo in your eyes?: {{row["eyes"]}}\n\
Could you feel the vumo on your skin?: {{row["skin"]}}\n\
Did the vumo make you unusually tired?: {{row["tired"]}}\n\
Did the vumo make you feel nauseous?: {{row["nausea"]}}\n\
Wind direction: {{row["windDir"]}}\n\
Wind speed: {{row["windSpeed"]}}\n\
Precipitation: {{row["precip"]}}\n\
',
        icon: {
          {% if row[question]=="Yes" %}
            fillColor: red,
            strokeColor: red,
          {% else %}
            fillColor: green,
            strokeColor: green,
          {% endif %}
          strokeOpacity: 1.0,
          strokeWeight: 1,
          fillOpacity: 0.5,
          path: google.maps.SymbolPath.CIRCLE,
          scale: 10,
        },
     });
     {% endfor %}
     {% endif %}
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnw_sLdaNZLt05my-efZ5i-AM-u97GQBw&callback=initMap"
async defer></script>

{% endblock %}
