{% extends 'layout-es.html' %}

{% block body %}
<div align="right">
  <a href={{subd}}/Maps>English</a> | <a href={{subd}}/Mapas>Español</a>
</div>
<div class="jumbotron text-center">
  <p class="lead">
    Use los menús desplegables abajo para seleccionar los datos que quiere ver<br>
    Los círculos rojos indican el lugar donde se sintió el vumo<br>
    Los círculos verdes indican que no se sintió el vumo<br>
    Puede colocar el puntero sobre cada círculo para ver la lista completa de observaciones
  <p>
</div>
<div class="container">
  {% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="">
    <div class="form-inline">
      {{render_field(form.question, class_="form-control")}}
      <input type="submit" class="bt btn-success" value="Ver mapa">
    </div>
    <br>
    <div class="form-inline">
      {{render_field(form.windDir, class_="form-control")}}
      {{render_field(form.windSpeed, class_="form-control")}}
      {{render_field(form.precip, class_="form-control")}}
    </div>
  </form>
</div>
{% if subData.shape[0]==0 %}
  <h2><font color="red">Sin datos para estos filtros</font></h2>
{% endif %}
<br>
<div id="map"></div>
<br><br>
<script>
  var map;
  function initMap() {
    var myLatLng = new google.maps.LatLng(11.9854,-86.1608);
    map = new google.maps.Map(document.getElementById('map'), {
      center: myLatLng,
      zoom: 10,
      mapTypeId: 'terrain'
    });
    var green='#008000';
    var red='#FF0000';
    {% if subData.shape[0]!=0 %}
    {% for index, row in subData.iterrows(): %}
    var dataCircle = new google.maps.Marker({
        map: map,
        position: {lat:{{row['latitude']}}, lng:{{row['longitude']}}},
        title: 'Fecha: {{row["date"]}}\n\
¿Usted sintió el olor del vumo?: {{row["smell"]}}\n\
¿Usted sintió el vumo en la garganta?: {{row["throat"]}}\n\
¿Usted sintió el vumo en los ojos?: {{row["eyes"]}}\n\
¿Usted sintió el vumo en la piel?: {{row["skin"]}}\n\
¿El vumo le hizo sentir inusualmente cansado/a?: {{row["tired"]}}\n\
¿El vumo le provocó náuseas?: {{row["nausea"]}}\n\
Dirección del viento: {{row["windDir"]}}\n\
Velocidad del viento: {{row["windSpeed"]}}\n\
Lluvia: {{row["precip"]}}\n\
',
        icon: {
          {% if row[question]=="Sí" %}
            fillColor: red,
            strokeColor: red,
          {% else %}
            fillColor: green,
            strokeColor: green,
          {% endif %}
          strokeOpacity: 1.0,
          strokeWeight: 1,
          fillOpacity: 0.5,
          path: google.maps.SymbolPath.CIRCLE,
          scale: 10,
        },
     });
     {% endfor %}
     {% endif %}
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnw_sLdaNZLt05my-efZ5i-AM-u97GQBw&callback=initMap"
async defer></script>

{% endblock %}
