{% extends 'layout.html' %}

{% block body %}
  <div align="right">
    <a href={{subd}}/Questionnaire>English</a> | <a href={{subd}}/Encuesta>Español</a>
  </div>
  <div class="container">
    <h1>Vumo Experiences Questionnaire</h1>
    <hr>
    <h3>Record your observations:</h3>
    {% from "includes/_formhelpers.html" import render_field %}
    <form method="POST" action="">
      <div class="form-inline">
        {{render_field(form.date, class_="form-control")}}
      </div>
      <br>
      {{form.smell.label}}
      <br>
      {% for subfield in form.smell %}
        <td>{{ subfield }}</td>
        <td>{{ subfield.label }}</td>
      {% endfor %}
      {% if form.smell.errors %}
        {% for error in form.smell.errors %}
          <span class="help-inline"><font color="red">{{ error }}</font></span>
        {% endfor %}
      {% endif %}
      <br><br>
      {{form.throat.label}}
      <br>
      {% for subfield in form.throat %}
        <td>{{ subfield }}</td>
        <td>{{ subfield.label }}</td>
      {% endfor %}
      {% if form.throat.errors %}
        {% for error in form.throat.errors %}
          <span class="help-inline"><font color="red">{{ error }}</font></span>
        {% endfor %}
      {% endif %}
      <br><br>
      {{form.eyes.label}}
      <br>
      {% for subfield in form.eyes %}
        <td>{{ subfield }}</td>
        <td>{{ subfield.label }}</td>
      {% endfor %}
      {% if form.eyes.errors %}
        {% for error in form.eyes.errors %}
          <span class="help-inline"><font color="red">{{ error }}</font></span>
        {% endfor %}
      {% endif %}
      <br><br>
      {{form.skin.label}}
      <br>
      {% for subfield in form.skin %}
        <td>{{ subfield }}</td>
        <td>{{ subfield.label }}</td>
      {% endfor %}
      {% if form.skin.errors %}
        {% for error in form.skin.errors %}
          <span class="help-inline"><font color="red">{{ error }}</font></span>
        {% endfor %}
      {% endif %}
      <br><br>
      {{form.tired.label}}
      <br>
      {% for subfield in form.tired %}
        <td>{{ subfield }}</td>
        <td>{{ subfield.label }}</td>
      {% endfor %}
      {% if form.tired.errors %}
        {% for error in form.tired.errors %}
          <span class="help-inline"><font color="red">{{ error }}</font></span>
        {% endfor %}
      {% endif %}
      <br><br>
      {{form.nausea.label}}
      <br>
      {% for subfield in form.nausea %}
        <td>{{ subfield }}</td>
        <td>{{ subfield.label }}</td>
      {% endfor %}
      {% if form.nausea.errors %}
        {% for error in form.nausea.errors %}
          <span class="help-inline"><font color="red">{{ error }}</font></span>
        {% endfor %}
      {% endif %}
      <br><br>
      <div class="form-group">
        {{render_field(form.otherObs, class_="form-control")}}
      </div>
      <br>
      <div class="form-inline">
        {{render_field(form.windDir, class_="form-control")}}
      </div>
      <br>
      <div class="form-inline">
        {{render_field(form.windSpeed, class_="form-control")}}
      </div>
      <br>
      <div class="form-inline">
        {{render_field(form.precip, class_="form-control")}}
      </div>
      <br>
      <b>Drag the marker to the location of your experience (or allow website to access your location)</b>
      <br>
      <div id="map"></div>
      <div class="form-inline">
        {{render_field(form.latitude, class_="form-control")}}
        {{render_field(form.longitude, class_="form-control")}}
      </div>
      <br><br>
      <p><input type="submit" class="bt btn-primary" value="Submit"></p>
      <br><br>
    </form>
  </div>
  <script>
    var marker;
    function initMap() {
      var myLatLng = new google.maps.LatLng(11.9854,-86.1608);
      var map = new google.maps.Map(document.getElementById('map'), {
        center: myLatLng,
        zoom: 10,
        mapTypeId: google.maps.MapTypeId.HYBRID
      });
      // Place a draggable marker on the map
      marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          draggable:true,
          animation: google.maps.Animation.DROP,
          title:"Drag me!"
      });
      //Add listener for draggable marker
      marker.addListener('drag', extractCoords);
      extractCoords();
      // Try HTML5 geolocation.
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };
          map.setCenter(pos);
          marker.setPosition(pos);
          extractCoords();
        });
      }
    }
    function extractCoords() {
       var lat = marker.getPosition().lat();
       var lng = marker.getPosition().lng();
       document.forms[0].latitude.value = lat;
       document.forms[0].longitude.value = lng;
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnw_sLdaNZLt05my-efZ5i-AM-u97GQBw&callback=initMap"
  async defer></script>
{% endblock %}
