{% extends 'layout.html' %}

{% block body %}
  <h1>Gas Experiences Form</h1>
  <hr>
  <h3>Record your observations:</h3>
  {% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="">
  <div class="form-inline">
    {{render_field(form.date, class_="form-control")}}
  </div>
  <br>
  {{form.smell.label}}
  <br>
  {% for subfield in form.smell %}
    <td>{{ subfield }}</td>
    <td>{{ subfield.label }}</td>
  {% endfor %}
  <br><br>
  {{form.throat.label}}
  <br>
  {% for subfield in form.throat %}
    <td>{{ subfield }}</td>
    <td>{{ subfield.label }}</td>
  {% endfor %}
  <br><br>
  {{form.eyes.label}}
  <br>
  {% for subfield in form.eyes %}
    <td>{{ subfield }}</td>
    <td>{{ subfield.label }}</td>
  {% endfor %}
  <br><br>
  {{form.skin.label}}
  <br>
  {% for subfield in form.skin %}
    <td>{{ subfield }}</td>
    <td>{{ subfield.label }}</td>
  {% endfor %}
  <br><br>
  {{form.tired.label}}
  <br>
  {% for subfield in form.tired %}
    <td>{{ subfield }}</td>
    <td>{{ subfield.label }}</td>
  {% endfor %}
  <br><br>
  {{form.nausea.label}}
  <br>
  {% for subfield in form.nausea %}
    <td>{{ subfield }}</td>
    <td>{{ subfield.label }}</td>
  {% endfor %}
  <br><br>
  <div class="form-group">
    {{render_field(form.otherObs, class_="form-control")}}
  </div>
  <br>
  <div class="form-inline">
    {{render_field(form.windDir, class_="form-control")}}
  </div>
  <br>
  <div class="form-inline">
    {{render_field(form.windSpeed, class_="form-control")}}
  </div>
  <br>
  <div class="form-inline">
    {{render_field(form.precip, class_="form-control")}}
  </div>
  <br>
  <b>Select your location by clicking on the map</b>
  {{googlemap("my_awesome_map", lat=0.23234234, lng=-0.234234234, markers=[(0.12, -0.45345)])}}
  <br>
  <p><input type="submit" class="bt btn-primary" value="Submit"></p>
  <br>
</form>


{% endblock %}
