{% extends 'layout-es.html' %}

{% block body %}
<div align="right">
  <a href="/">English</a> | <a href="/es">Español</a>
</div>
<div class="jumbotron text-center">
  <h1>Bienvenidos a la página web de los datos de vumo</h1>
  <p class="lead">
    Use los vínculos del menú que aparece arriba para navegar por la página web
  <p>
</div>
<img src="static/UNRESP_RGB_Vumowatch_logo.jpg" alt="unresp_logo" style="display:block; margin-left:auto; margin-right:auto; width:40%;">
<br><br>
<p style="font-size:20px; text-align:justify">
Las emisiones volcánicas del volcán Masaya se conocen vumo, que es una combinación de las palabras espa ñ olas volcán y humo.
<br><br>
Las emisiones volcánicas con frequencia han sido descritas por los habitantes de la región como humo, pero esto es incorrecto,
los volcanes emiten penachos de gases y aerosoles, pero no humo. Por eso es importante distinguir entre las emisiones volcánicas
de las del humo que se produce de cosas como estufas de madera o hogueras.
<br><br>
La palabra española vumo es el equivalente del término inglés ‘vog’, acuñado en Hawai para describir las emisiones del volcán Kilauea.
La palabra vog es la combinación resultante de las palabras inglesas ‘volcano’ (volcán) y ʻfogʼ (niebla).
<br><br>
Este trabajo consistente en el registro de las experiencias de vumo forma parte de un proyecto de investigación científica
denominado <a href="http://unresp.com" target="_blank">UNRESP</a>. Las observaciones que usted registre podrán ser usadas,
de forma anónima, para entender mejor el riesgo de vumo y mejorar los sistemas de monitoreo y control de pronósticos.
<br><br>
La encuesta para experiencias de vumo se basó en un documento similar perteneciente a la
<a href="http://en.vedur.is/pollution-and-radiation/volcanic-gas/" target="_blank">Oficina Meteorológica de Islandia</a>.
</p>
<br>
{% endblock %}
