{% extends 'layout.html' %}

{% block body %}
<div align="right">
  <a href={{subd}}/en>English</a> | <a href={{subd}}/es>Español</a>
</div>
<div class="jumbotron text-center">
  <h1>Welcome to the vumo data website</h1>
  <p class="lead">
    Use the menu above to navigate around the various features of this website
  <p>
</div>
<img src={{subd}}/static/UNRESP_RGB_Vumowatch_logo.jpg alt="unresp_logo" style="display:block; margin-left:auto; margin-right:auto; width:40%;">
<br><br>
<p style="font-size:20px; text-align:justify">
The volcanic emissions from Masaya volcano are termed 'vumo', which is a combination of the Spanish words 'volcán' (volcano) and 'humo'(smoke).
<br><br>
Masaya’s volcanic emissions are often described locally as ‘humo’ (smoke) but this is incorrect – volcanoes emit plumes of gases and aerosols but no smoke.
It is therefore important to distinguish volcanic emissions from smoke that is produced by things like wooden stoves or bonfires.
<br><br>
Vumo is the Spanish equivalent of the English term 'vog', coined in Hawaii to describe emissions from Kilauea volcano and combining the words volcano and fog.
<br><br>
Recording the experiences of vumo is part of a scientific research project <a href="http://unresp.com" target="_blank">UNRESP</a>.
The observations you record may be used anonymously for better understanding the vumo hazard and improve its monitoring and forecasting.
<br><br>
The questionnaire to record the vumo experiences is adapted from the <a href="http://en.vedur.is/pollution-and-radiation/volcanic-gas/" target="_blank">Icelandic Meteorological Office</a>.
</p>
<br>
{% endblock %}
